%details.govuk-details{'data-module': 'govuk-details'}
  %summary.govuk-details__summary
    %span.govuk-details__summary-text
      Why can't I see my date?
  .govuk-details__text
    %p
      If the date you want to pay for is not displayed, it may be because:
      %ul.govuk-list-govuk-list--bullet
        %li
          %p
            The 7 day period you had to pay has ended.
            %br
            You may be subject to a penalty
            charge notice (PCN).
        %li
          %p
            The date is too far in the future.
            %br
            You should check back here closer to the
            date you want.
