.govuk-form-group{class: 'govuk-form-group--error'}
  %span#period-error.govuk-error-message
    %span.govuk-visually-hidden Error:
    State if you are paying for 1 day or 7 days
  = render 'dates/select_period_input/normal'
