.govuk-form-group
  .govuk-radios
    .govuk-radios__item
      %input#period-1.govuk-radios__input{name: 'period',
                                          type: 'radio',
                                          checked: session.dig(:vehicle_details, 'charge_period') == 'daily-charge',
                                          value: 'daily-charge'}
      %label.govuk-label.govuk-radios__label{for: 'period-1'}
        Pay for 1 day (£12.50)
    .govuk-radios__item
      %input#period-2.govuk-radios__input{name: 'period',
                                          type: 'radio',
                                          checked: session.dig(:vehicle_details, 'charge_period') == 'weekly-charge',
                                          value: 'weekly-charge'}
      %label.govuk-label.govuk-radios__label{for: 'period-2'}
        Pay for 7 days (£50.00)
