= link_to 'Back', non_uk_vehicles_path, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = form_tag submit_type_non_uk_vehicles_path, method: :post do
        .govuk-form-group{class: ('govuk-form-group--error' if alert)}
          %fieldset.govuk-fieldset
            %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
              %h1.govuk-fieldset__heading
                What is your vehicle?
            %p
              Since we are not able to find your vehicle's details, you'll need to tell us what type of
              vehicle you want to pay for.
            - if alert
              %span#caz-select-error.govuk-error-message
                %span.govuk-visually-hidden Error:
                Tell us what type of vehicle you want to pay for
            .govuk-radios
              .govuk-radios__item
                %input#vehicle-type.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'bus'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type'}
                  Bus/Coach
              .govuk-radios__item
                %input#vehicle-type-2.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'hgv'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type-2'}
                  Heavy goods vehicle
              .govuk-radios__item
                %input#vehicle-type-3.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'lgv'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type-3'}
                  Large van
              .govuk-radios__item
                %input#vehicle-type-4.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'minibus'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type-4'}
                  Minibus
              .govuk-radios__item
                %input#vehicle-type-5.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'small_van'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type-5'}
                  Small van
              .govuk-radios__item
                %input#vehicle-type-6.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'car'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type-6'}
                  Car
              .govuk-radios__item
                %input#vehicle-type-7.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'taxi'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type-7'}
                  Taxi/PHV
              .govuk-radios__item
                %input#vehicle-type-8.govuk-radios__input{name: 'vehicle-type', type: 'radio', value: 'motorcycle'}
                %label.govuk-label.govuk-radios__label{for: 'vehicle-type-8'}
                  Motorcycle
        = submit_tag 'Confirm', class: 'govuk-button', 'data-module': 'govuk-button'
