-# IE11 polyfill for datepicker
:javascript
  window.MSInputMethodContext && 
    document.documentMode && 
    document.write(
      '<script src="https://cdn.jsdelivr.net/npm/ie11-custom-properties@latest/ie11CustomProperties.js"><\x2fscript>'
    );

- title_and_header = 'When do you want your weekly charge to start?'
- page_title(title_and_header)

= render 'common/js_back_link'

= render 'dates/select_weekly_date/content',
         title_and_header: title_and_header,
         second_week: false,
         input_date: @input_date,
         submit_url: confirm_date_weekly_dates_path
