- title_and_header = 'When would you like your weekly charge to start?'
- page_title(title_and_header)

= link_to 'Back', weekly_charge_dates_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l
        = title_and_header
