%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Drive in a Clean Air Zone
      %p
        Use this service to pay a daily charge for driving in a Clean Air Zone
        if your vehicle does not meet emission standards.
      %p
        Payment must be made a maximum of 7 days after you have driven in the zone
        or you may receive a penalty charge notice (PCN).
      %a.govuk-button.govuk-button--start{role: 'button',
                                          'data-draggable': false,
                                          'data-module': 'govuk-button',
                                          href: enter_details_vehicles_path,
                                          id: 'start-now'}
        Start now
        %svg.govuk-button__start-icon{focusable: 'false',
                                      height: '19',
                                      role: 'presentation',
                                      viewbox: '0 0 33 40',
                                      width: '17.5',
                                      xmlns: 'http://www.w3.org/2000/svg'}
          %path{d: 'M0 0h13l20 20-20 20H0l20-20z', fill: 'currentColor'}

      %h2.govuk-heading-m Before you start
      %p
        You’ll need the number plate (registration number) of the vehicle you want to drive.

      %h2.govuk-heading-m Other ways to pay
      %p
        Pay by phone on 0300 457 8915
        %br
        Monday to Friday 08:00 to 19:00 and Saturday 08:00 to 14:00
        %br
        Standards rates apply.

    .govuk-grid-column-one-third
      %aside#related-items-label.app-related-items{role: 'complementary'}
        %h2.govuk-heading-m
          Related content
        %nav{'aria-labelledby': 'related-items-label', role: 'navigation'}
          %ul.govuk-list{class: 'govuk-!-font-size-16'}
            %li
              = succeed '.' do
                = link_to('Check if you qualify for an exemption or refund',
                          'https://www.gov.uk/guidance/driving-in-a-clean-air-zone',
                          id: 'exemption-or-refund-link')
