$cc-black: #000;
$cc-white: #FFFFFF;

.ccc-button-solid {
  color: $cc-white !important;
  border-color: $cc-black !important;
  background: $cc-black !important;
}

#ccc .ccc-content--highlight.ccc-content--dark .ccc-link.ccc-tabbable:focus {
  color: $cc-white !important;
}
