$cc-black: #000;
$cc-white: #FFFFFF;

.ccc-button-solid {
  color: $cc-white !important;
  border-color: $cc-black !important;
  background: $cc-black !important;
}

#ccc .checkbox-toggle-input:focus~.checkbox-toggle-toggle {
  -webkit-filter: none !important;
  filter: none !important;
  background-color: #fd0 !important;
}

#ccc-dismiss-button:focus {
  -webkit-filter:none !important;
  filter:none !important;
  border-color: #fd0 !important;
  box-shadow: none !important;
} 