- content_for(:title, service_name)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      = render 'common/draft_tag'
      .govuk-panel.govuk-panel--failure
        %h1.govuk-panel__title
          Payment failed
        .govuk-panel__body
          Payment reference
          %br
            %strong
              = @payment_reference
    .govuk-grid-column-one-third
      %h2.govuk-heading-m
        Other tasks
      %ul.govuk-list.govuk-list--bullet
        %li
          = link_to 'Start a new payment', enter_details_vehicles_path
