= link_to 'Back', @return_path, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l Which Clean Air Zone do you need to pay for?
      %p
        You need to pay separately for each Clean Air Zone you drive in.
      %details.govuk-details{'data-module': 'govuk-details'}
        %summary.govuk-details__summary
          %span.govuk-details__summary-text
            Why can I only select one Clean Air Zone?
        .govuk-details__text
          %p
            You will only see zones in which your vehicle does not meet Clean Air Standards.

      .govuk-radios__item
        %input#city-1.govuk-radios__input{name: 'city',
                                          type: 'radio',
                                          value: 'Birmingham'}
        %label.govuk-label.govuk-radios__label{for: 'city-1'}
          Birmingham
