.govuk-form-group
  .govuk-heading-m
    Registration number
  %span#vrn-hint.govuk-hint#vrn-label{for: 'vrn'}
    = I18n.t('labels.vrn')

  %input#vrn.govuk-input.vrn-input{'aria-labelledby': 'vrn-label',
                                   'aria-describedby': 'vrn',
                                   name: 'vrn',
                                   type: 'text',
                                   maxlength: 15,
                                   value: params[:vrn]}
