= render 'common/js_back_link'
- title_and_header = 'There is no charge for this vehicle'
- page_title(title_and_header)

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-l= title_and_header
      %p
        You do not have to pay to drive this vehicle in any existing Clean Air Zone but this may
        change as more zones are implemented.
      %p
        You can always
        = link_to("check if you'll need to pay a charge", Rails.configuration.x.check_air_standard_url)
        before you drive in a Clean Air Zone.
      %p
        = link_to 'Pay for another vehicle', enter_details_vehicles_path(id: SecureRandom.uuid, new: true), class: 'govuk-link'
