= link_to 'Back', enter_details_vehicles_path, method: :get, class: 'govuk-back-link'
%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %h1.govuk-heading-xl Confirm Details
      %p
        = @vehicle_registration
