= link_to 'Back', local_authority_charges_path, class: 'govuk-back-link'

%main.govuk-main-wrapper#main-content{role: 'main'}
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      %p
        You have selected
        = @local_authority
        CAZ.
